<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style="background-color:MediumSeaGreen;">

	<header>
		<div class="container" style="background-color:rgb(106, 90, 205); border-radius: 10px;">
			<div id="brandname" style="background-color:DodgerBlue; margin-top: 50px; height: 100px; border-radius: 10px;">
			<p style="font-size:40px; text-align: center;">Machine Learning Application for Predicting Traffic Accidents</p>
			</div>
			<p style="font-size:35px; text-align: center;">Prediction For 2021 Year Where Category Type = Traffic & Accident Type = Insgesamt (Total)</p>
		</div>
	</header>
	<div style="background-color:powderblue; border: 3px solid green; border-radius: 7px;">
		<p style="color:blue; font-size:25px; text-align: center;"><b>Results for Input Month</b></p>
		<p style="margin-left: 55px; font-size: 25px;">The Value is " {{ prediction }} "</p>
    		<div class="results">

		</div>
	</div>
	<div style="background-color:powderblue; border: 3px solid green; border-radius: 7px;">
		<form id="myform" action="{{ url_for('home')}}" method="POST">
			<input style="margin: auto; margin-top: 15px; background-color:DodgerBlue; color: white; padding: 15px 32px; text-align: center; display: block; font-size: 16px; margin-bottom: 15px;" type="submit" class="btn-info" value="Go To HomePage">
			</form>
		</div>
	</div>
</body>
</html>
